<mat-toolbar class="fixed-top">

  <a href="#" > <span>  <img src="assets/images/schoolicon.png" height="60px" width="80px">School Management</span>   </a>
    
    
    <span><a href="#"> About us </a></span>   
    <span><a href="#"> Academic information</a></span> 
    <span><a href="#"> Results </a></span>   
    <span><a href="#"> Contact us </a></span> 


      
    <span class="example-spacer"></span>
   
  
   <button routerLink="/login" ><span style="margin-right: 20px;"><a  style="text-align: center;color:mediumblue" > <i class="fa-solid fa-user"></i>Login</a></span></button>  
   <button routerLink="/homepage" >  <span><a style="color:mediumblue; margin-right:20px" > <i class="fa-solid fa-user"></i>Sign up </a></span>  </button>
    <span><a routerLink="/onlineadmission" > <i class="fa-solid fa-pen-to-square"></i> Online Admission </a></span>  
  </mat-toolbar>
  
