.example-spacer {
    flex: 1 1 auto;

  }
  mat-toolbar{

 background-color: #1E0342;
 color: white;
 
  }
span a{
  text-decoration: none;
  margin-left: 20px;
  color: white;
  font-size: 12pt;
}
button{

background-color:#F4DA22;;
border-radius: 10px;

border-width: 0px;
text-align: center;
margin-right: 10px;


}
i{margin-right: 4px;}

a{

  text-decoration: none;
  color: white;
}