<div class="container">
    <h1>Student Details:</h1>

    <div> <button class="button-7" role="button" routerLink="/addstudent">Add Student</button></div>
 <table class="table stripe">

    <tr>

        <th class="fw-bolder">Student ID</th>
        <th>Full Name</th>
       
        <th>Date of Birth</th>
        <th>Email</th>
        <th>Mobile no </th>
        <th>Gender</th>
        <th > Class</th>
        <th > Section</th>
        <th > Subject</th>
        <th>Present Address</th>
        <th>Permanent Address</th>
        <th > Session</th>
        <th > Status</th>
   
        <th>Edit</th>
        <th > Delete</th>
     

    </tr>




    <tr *ngFor="let i of allstudentdata">

        <td>{{i.student_id}}</td>
        <td>{{i.full_name}}</td>

        <td>{{i.dob}}</td>
        <td>{{i.email}}</td>
        <td>{{i.mob}}</td>
        <td>{{i.gender}}</td>
        <td>{{i.class1}}</td>
        <td>{{i.section}}</td>
        <td>{{i.subject}}</td>
        <td>{{i.present_addres}}</td>
        <td>{{i.permanent_address}}</td>
        <td>{{i.session}}</td>
        <td>{{i.status}}</td>



        <td>   <button type="button" (click)="search(i.student_id)" > <i class="fa-solid ww fa-pen-to-square"></i></button>    </td> 
      <td>   <button type="button" (click)="delete(i.student_id)" > <i class="fa-solid ss fa-trash-can"></i></button>    </td>  
       
      
       
    </tr>



</table>

</div>