
<div class="container ss">
    <h1>New Applicants List:</h1>
 <table class="table stripe">

    <tr>

        <th class="fw-bolder">Student ID</th>
        <th > Photo</th>
        <th>Full Name</th>
        <th>Date of Birth</th>
        <th>Email</th>
        <th>Mobile no </th>
        <th>Gender</th>
        <th>Father's Name </th>
        <th>Mother's Name</th>
        <th > Class</th>
        <th > Section</th>
        <th>Present Address</th>
        <th>Permanent Address</th>
        <th > Session</th>
        <th > Username</th>
        <th > Password</th>
        
     
        <th>Approval Status</th>
        <th>Approve apllicants</th>
        <th > Reject</th>
       

    </tr>




    <tr *ngFor="let i of getnewApplicants">


        <td>{{i.reg_no}}</td>
        <td><img src="{{i.image}}" height="90px" width="120px"></td>
        <td>{{i.full_name}}</td>
        <td>{{i.dob}}</td>
        <td>{{i.email}}</td>
        <td>{{i.mob}}</td>
        <td>{{i.gender}}</td>
      
        <td>{{i.fathername}}</td>
        <td>{{i.mothername}}</td>
        <td>{{i.class1}}</td>
        <td>{{i.section}}</td>
        <td>{{i.present_address}}</td>
        <td>{{i.permanent_address}}</td>
        <td>{{i.session}}</td>
        <td>{{i.username}}</td>
        <td>{{i.password}}</td>
       
       
      


        <td>   <button type="button" style="color:red;border-radius: 3px;background-color:yellow;font-size: 12pt;">Pending</button>    </td> 
        <td>   <button type="button" class="btn btn-success"  (click)="searchapproval(i.email)">Approve</button>    </td> 
      <td>   <button type="button" class="btn btn-danger" (click)="reject(i.email)"> Reject </button>    </td>  
       
      
       
    </tr>



</table>

</div>






