<video width="100%" height="710px"controls autoplay>
  <source src="assets/video/school ground.mp4" type="video/mp4">
</video>

<div class="row" >
<marquee>


  25/05/2024 : >>কলেজ ইউনিফর্ম সংগ্রহ করে নি তাদেরকে মে ২০২৪...    ***    03/05/2024 : >>সরকারি নির্দেশনা অনুযায়ী আগামীকাল ৪ মে ২০২৪ শনিবার শিক্ষা প্রতিষ্ঠান বন্ধ...    ***    29/04/2024 : >>৩০ মে ষষ্ঠ শ্রেণি থেকে একাদশ শ্রেণি পর্যন্ত শ্রেণি কার্যক্রম বন্ধ...    ***    28/04/2024 : >>এতদ্দ্বারা উভয় ভার্সনের প্রথম শ্রেণি থেকে পঞ্চম শ্রেণি পর্যন্ত সকল শিক্ষার্থীকে অবগত করা যাচ্ছে যে, আগামীকাল ২৯ এপ্রিল সোমবার থেকে পরবর্তী নির্দেশ না দেওয়া পর্যন্ত ১০৫০ ঘটিকায় ছুটি হবে।    ***    24/04/2024 : >> চতুর্থ ও পঞ্চম শ্রেণির ক্লাস টেস্ট (অর্ধ-বার্ষিক)-২০২৪ এর রুটিন (সংশোধিত)    ***    23/04/2024 : >>দশম শ্রেণির ১ম প্রস্তুতি মূল্যায়ন পরীক্ষা ২০২৪ এর রুটিন    ***    22/04/2024 : >> দ্বাদশ শ্রেণির পুনঃ নির্বাচনী পরীক্ষা-২০২৪ এর রুটিন।    ***   </marquee>

</div>


<div class="container">
  <div class="row">
    <div class="col" style="margin-right: 30px;">
     <img src="assets/images/Chairman_2023.jpg" height="220px" width="220px">
     <b style="font-size: 14t;color:blue" >Shulaiman Khan</b>
     <p>Chairman and Founder</p>
     <p style="font-family: 'Times New Roman', Times, serif; font-size: 13pt;">It is a great pride and pleasure for me to be associated with Rajuk Uttara Model College at a moment.we love to serve our countruy......... </p><a href="" style="text-decoration: none;color:chocolate;">Read More</a>
  

    </div>
    <div class="col">
      <img src="assets/images/cultarual.jpeg" height="300px" width="390px">
      
    
      <p style="font-family: 'Times New Roman', Times, serif; font-size: 13pt;">Institution-based cross-sectional study was conducted from December 1 to 28, 2020........... </p><a href="" style="text-decoration: none;color:chocolate;">Read More</a>
   
    </div>
    <div class="col">

      <div class="col">
        <div class="" style="width: 18rem; margin-left: 50px;">
          <img src="assets/images/jubilee1.jpg" height="180px" width="190px">
          
            <div class="card-body">
              <marquee behavior="scroll" direction="up" scrollamount="1" style="font-size: 9pt;  background-color: green; ">স্বাধীনতার ৫০ বছর উদযাপন
                মহান মুক্তিযুদ্ধের ছবি ও ভিডিও</marquee>
     
              
          </div>




    </div>
  </div>
</div>
  </div>
</div>


<!-- ...............2nd part of body component......... -->
<div class="container" style="background-color: #6DCFF6 ;">
    <div class="row">
        <div class="col-6 dd">
            <img src="assets/images/smileystudent.jpg" height="340px" width="420px">
        </div>
        <div class="col-4" style="margin-top: 40px; font-family: 'Times New Roman', Times, serif;font-size: 13pt;">
            <h1>
                <p style="color: #6532BA; margin-right: 110px;">When Ambitions Meets opportunity</p>
            </h1>
            <p style="color:6532BA ; ">There are a few different types of paragraphs one can write, and we’ll get into
                that. Just know that no matter what type of paragraph you are writing, the action you are undertaking is
                called paragraphing.</p>
            <div>
                <span class="material-symbols-outlined">
                    border_color
                </span>Upskill Your Organization

            </div>
            <div>
                <span class="material-symbols-outlined">
                    border_color
                </span>Manage your Students

            </div>
            <div>
                <span class="material-symbols-outlined">
                    border_color
                </span>Manage your teacher easily

            </div>
            <div>
                <span class="material-symbols-outlined">
                    border_color
                </span>Manage Staff

            </div>
            <div>
                <span class="material-symbols-outlined">
                    border_color
                </span>Financial Management

            </div>
        </div>



    </div>
</div>

<!-- ...........3rd part- Card........... -->


<div class="container">
    

    <div class="row" style=" margin-top: 20px; background-color:aliceblue;" >
        <h1 style="margin-top: 20px;"><p style="color:#6532BA;font-family: 'Times New Roman', Times, serif;">Our Education System Works For You</p></h1>
        <div class="col">
            <div class="card" style="width: 18rem; margin-left: 50px;">
                <img src="assets/images/pic2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><b>Pre-K Program</b></h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">More Details</a>
                </div>
              </div>
          </div>
      <div class="col">
        <div class="card" style="width: 18rem; margin-left: 30px;">
            <img src="assets/images/geography-lesson.jpg" class="card-img-top" alt="..." >
            <div class="card-body">
              <h5 class="card-title"><b>Kindergarden</b></h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">More Details</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="assets/images/d1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><b>Pre School</b></h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">More Details</a>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="container d">
    <div class="row">
      <div class="col">
    <div style="margin-top: 20px; margin-bottom: 20px; font-family: 'Times New Roman', Times, serif; color:darkgreen;"> <i class="fa-solid fa-chalkboard-user"></i> <b> Teachers Training</b> <p style="color: grey ;font-size: 9pt;">Skill depends on learning</p></div>
   
      </div>
      <div class="col">
        <div style="margin-top: 20px; margin-bottom: 20px; font-family: 'Times New Roman', Times, serif; color:darkgreen;">  <i class="fa-solid fa-book-open-reader"></i> <b> Track Students</b> <p style="color:grey ;font-size: 9pt;">Alert Student about progress</p></div>
      </div>
      <div class="col">
        <div class="col">
            <div style="margin-top: 20px; margin-bottom: 20px; font-family: 'Times New Roman', Times, serif; color:darkgreen;">  <i class="fa-solid fa-clipboard-user"></i> <b>Train staff</b> <p style="color:grey ;font-size: 9pt;">Manage all system</p></div>
          </div>
      </div>
    </div>
  </div>

<!-- ........WHY WE ARE BEST............ -->

<div class="container" style="box-shadow: 0px 1px 1px 0px;">  
<div class="container" style="background-color:#56BE1E; border-top-left-radius: 10px; border-bottom-right-radius: 20px; text-align: center; color:white; padding: 5px; margin-top: 20px;">
<p style="font-size: 20px;">Why we are  BEST</p>
</div>
<hr>

<div class="row">
  <div class="container">
    <div class="row">
    
      <div class="col-md-3">
        <a href="#"> <span><i class="fa-solid fa-flask-vial" style="font-size: 60px;color: blue; margin-left: 30px;"></i></span></a>
   <span style="color:black;"><p>Modern science laboratory</p></span>
      </div>
      
      <div class="col-md-3">
        <a href="#"> <span><i class="fa-solid fa-chalkboard-user" style="font-size: 60px;color: blue; margin-left: 30px;"></i></span></a>
   <span style="color:black;"><p>Experienced teacher</p></span>
      </div>
      <div class="col-md-3">
        <a href="#">  <span><i class="fa-solid fa-flask-vial" style="font-size: 60px;color: blue;"></i></span>
        <span style="color:black;"><p>Rich library</p></span></a>
      </div>
      <div class="col-md-3">
        <a href="#">      <span><i class="fa-solid fa-school"style="font-size: 60px;color: blue; margin-left: 30px;"></i> </span></a>
        <span style="color:black;"><p>Smart classroom</p></span>
      </div>
 <!-- 2nd row -->
 <div class="col-md-3">
  <a href="#"><span><i class="fa-solid fa-baseball" style="font-size: 60px;color: blue; margin-left: 30px;"></i></span>
  <span style="color:black;"><p style="margin-left: 16px;">Sports Facility</p></span></a>
     </div>
     <div class="col-md-3">
      <a href="#">   <span><i class="fa-solid fa-dumbbell"style="font-size: 60px;color: blue; margin-left: 30px;"></i></span>
  <span style="color:black;"><p style="margin-left: 26px;">Health Care</p></span></a>
     </div>
     <div class="col-md-3">
      <a href="#"><span><i class="fa-solid fa-video"style="font-size: 60px;color: blue; margin-left: 16px;"></i></span>
       <span style="color:black;"><p>Online class</p></span></a> 
     </div>
     <div class="col-md-3">
      <a href="#"> <span><i class="fa-solid fa-hands-holding-child" style="font-size: 60px;color: blue; margin-left: 16px;"></i></span>
       <span style="color:black;"><p>No compromise with careness</p></span></a>
     </div>



    </div>
  </div>

</div>


</div>


  <!-- ..........5th part......... -->
  <div class="container c">
    <div class="row">
      <div class="col" style="border: 2px solid blue;margin: 10px; border-radius: 10px; background-color:#FCE8F1;">
        <div><b style="font-size: 12pt;"> Recent Notices</b></div>
        <a href="#" style="font-size: 13pt;">12/05/2024 <p>দ্বাদশ শ্রেণির পুনঃ নির্বাচনী পরীক্ষা-২০২৪ এর রুটিন।</p></a>
        <a href="#"style="font-size: 13pt;"> 18/05/2024<p>দশম শ্রেণির ১ম প্রস্তুতি মূল্যায়ন পরীক্ষা ২০২৪ এর রুটিন </p> </a>
        <a href="#"style="font-size: 13pt;"> 15/04/2024 <p>জাতীয় শিক্ষা সপ্তাহ-২০২৪</p> </a>
        <a href="#"style="font-size: 13pt;"> 12/04/2024 <p> ১৭-০৯-২০২4 তারিখ হতে বার্ষিক পরীক্ষা</p></a>
      </div>
      <div class="col ii">
        <div style="font-size: 7pt; font-family: 'Times New Roman', Times, serif; color: cornflowerblue; text-align:justify; margin-top: 40px;"><b>#CLIENT TESTMONIAL</b></div>
        <div style="font-size: 16pt;color: blueviolet;font-family: 'Times New Roman', Times, serif;"><b>What students and teahcers Say About Us</b></div>
        <div style="margin-top: 20px;"><i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i><i class="fa-solid fa-star-half-stroke"></i></div>

        <div><b><p style="font-family: 'Times New Roman', Times, serif; font-size: 12pt;color:darkcyan;">"This institute can perform tedious tasks like creating timetables, recording attendance, passing along messages among the parents, etc. "</p></b></div>

        <img src="assets/images/teacher1.jpg"style="border-radius: 90px;" height="50px" width="60px">
        <img src="assets/images/schoolstudent3.avif"style="border-radius: 90px; margin-left:10px" height="50px" width="60px">
        <img src="assets/images/teacher3.jpg"style="border-radius: 90px;margin-left:10px" height="50px" width="60px">
               
      </div>
      <div class="col">
         <h1 style="color: #56BE1E;">Join with us online</h1>
      <a href="https://onlineclass.com.bd/"><img src="assets/images/welcomebacktoschol.avif"height="250px" width="400px"></a> 
 
      </div>
    </div>
  </div>


  <!-- ....carousel... -->

  <app-carousel></app-carousel>


<!-- ..............Our Partner............ -->

<div class="container">
  <div class="row partner">
    <div class="col-5">
    <h1 style="color: black;"><b style="font-size: 26pt;">Want to be our Proud Teacher?</b></h1>
    <p style="font-family:'Times New Roman', Times, serif; font-size: 16pt;">With the help of our teachers, we can share our expertise and resources around the world. And thus we are expanding our teaching. So contact us to see how you can join our global family!</p>

    <button type="button" class="btn btn-primary">See why and How</button>
    </div>
  
    <div class="col-7 partner_img">
     <img src="assets/images/partnet.webp"height="350px" width="500px">
    </div>

  </div>
</div>






<!-- ...........Technology Partner...... -->
<div class="container" style="margin-top: 20px;">

  <h2 style="text-align: center;font-size: 30px;">Our Governing Body</h2>

</div>

<div class="container">
  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <div class="col">
      <div class="p-3 border bg-light">
        <img src="assets/images/gbody2.jpg" height="200px" width="170px">
      
      </div>
      <p>Mr.Shamsul Alam</p>
    </div>
    <div class="col">
      <div class="p-3 border bg-light">
        <img src="assets/images/gbody3.png" height="200px" width="170px">
      
      </div>
      <p>Mr.Mizanur Rahman</p>
    </div>
    <div class="col">
    <div class="p-3 border bg-light">
      <img src="assets/images/gbody5.jpg" height="200px" width="170px">
    
    </div>
    <p>Dr.Tajul Islam</p>
  </div>
    <div class="col">
      <div class="p-3 border bg-light">  
        <img src="assets/images/gbody6.jpg" height="200px" width="170px">
      </div>
      <p>Dr.Sabrina</p>
    </div>
    <div class="col">
      <div class="p-3 border bg-light">  
        <img src="assets/images/gbody7.png" height="200px" width="170px">
      </div>
      <p>Mrs Faria Akter</p>
    </div>
 
    <div>




