

<div class="footer">
    <div class="container">
        <div class="row">
          <div class="col-4">
           
          <div class="class=col-4">
            <img src="assets/images/book2.png" height="90px" width="130px" style="margin-right: 20px;">
           <div class="param">
            <p>To serve the school as a whole with this noble vision the Azizsoft ltd  started its journey in June 2027. The trust has agreed upon to provide IT service to the people of Bangladesh with affordable cost.</p>
           <a href="#"> <i class="fa-solid fa-location-dot" style="color:aqua"></i>
            <P style="font-size: 12.4pt;">House # 48, Road # 9/A, Dhanmondi, Dhaka 1209</P></a>
          <a href="#">  <p style="font-size: 12.4pt;"> <i class="fas fa-phone" style="color: aqua;"></i> <span>  
                Hotline: 10615, +88 09610010615</span></p> </a>
           <a href="#">   <p style="font-size: 12pt;"> <i class="fas fa-envelope" style="color: aqua;"></i> <span>info@azizsoft.com</span></p></a>  

                  <div>
                    <i class="fab fa-facebook" style="color: white; margin-right: 10px;"></i>
                    <i class="fa-brands fa-linkedin " style="color: white;  margin-right: 10px;"></i>
                    <i class="fa-brands fa-twitter" style="color: white;  margin-right: 10px;"></i>
                    <i class="fa-brands fa-square-youtube"  style="color: white;  margin-right: 10px;"></i>

                  </div>
        </div>

           </div>
           
         
          </div>
          <div class="col-4">
                <h5 style="margin-top: 50px;">Visitor Counter</h5>
                <P>   <i class="fa-brands fa-twitter" style="margin-right: 15px; font-size: 16px;"></i>Page visitor: 17851</P>
                <P>   <i class="fa-brands fa-twitter" style="margin-right: 15px; font-size: 16px;"></i> unique visitor:7435</P>
                <P>   <i class="fa-brands fa-twitter" style="margin-right: 15px; font-size: 16px;"></i> Page visitor: 17851</P>
          </div>
          <div class="col-4">
            <h5 style="font-family: Arial, Helvetica, sans-serif; margin-top: 50px;">Contact Us</h5>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label"></label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email" style="background-color: #393B3B;border: none;">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label"></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"placeholder="Message" style="background-color: #393B3B;border: none;"></textarea><br> 
                <button type="button" class="btn btn-info"><b > Submit</b></button>
              </div>
      </div>
        </div> 
</div>






